h1{
    text-align: center;
    font-family: sans-serif;
    font-size: 40px;
    font-weight: 1000;
    background-color: rgb(198, 212, 239);
    border-radius: 20px;

}
body{
    background-color: rgb(13, 13, 13);
    padding: 20px;
}
.blog-post{
    
    display: flex;
    justify-content: center;
    flex-direction: row;
}
.AI-img{
    height: 450px;
    width: 600px;
    border-color: rgb(211, 219, 225);
    border-radius: 20%;
}
.intro{
    font-size: 20px;
    line-height:1cm;
    text-align: center;
    color: aliceblue;
}
.content{
    color: aliceblue;
    text-align: center;
}
.content h2{
    color: brown;
}

